* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
}
header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #ff80df;
}

.logo {
    height: 70px;
    margin-left: 10px; 
}
main {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    background-color: #e1dc80 ;
}
.discs_container {
    width: 80%; 
    margin: auto; 
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;

}

.disc {
    width: 15%;
    margin: 20px;
    padding: 3px 0;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255,128,223,0.7);
}

.disc img {
    width: 220px;
    height: 200px;
}

.disc h2 {
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px;
    color: white;
}

h3, h4, small {
    padding: 3px;
}
h3 {
    color: #bd309a;
}
h4 {
    color: white;
}